body { margin: 0; padding: 0; }
h1 { font-weight: normal; text-align: center; margin: 0 2em; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); vertical-align: middle; }

.one body { background: #22313F; }
.one h1 { color: #1E8BC3; }

.two body { background: #db2f27; }
.two h1 { color: #e6c700; font-family: sans-serif; }

.three body { background: #e1e0dd; }
.three h1 { color: #35342f; font-family: serif; } 

.four body { background: #0d0f05; }
.four h1 { color: #ec6b2d; font-family: verdana; }

.five body { background: #f45844; }
.five h1 { color: #fff; }

.six body { background: #0098d8; }
.six h1 { color: #0b3536; }

/* Mobile styles */
@media only screen and (max-width : 600px) {
    .row .small-12 h1 { font-size: 3em; }
} 

/* Tablet devices */
@media only screen and (max-width : 992px) {
    .row .small-12 h1 { font-size: 4em; }
} 

/* Desktop devices */
@media only screen and (min-width : 992px) {
    .row .small-12 h1 { font-size: 5em; }
} 