/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Mar-2016, 00:50:45
    Author     : jasongrant
*/

.discuss body { background: #22313F; }
.discuss h1 { color: #1E8BC3; }

.will body { background: #db2f27; }
.will h1 { color: #e6c700; font-family: sans-serif; }

.think body { background: #e1e0dd; }
.think h1 { color: #35342f; font-family: serif; } 

.wonder body { background: #0d0f05; }
.wonder h1 { color: #ec6b2d; font-family: verdana; }

.believe body { background: #f45844; }
.believe h1 { color: #fff; }

.design body { background: #0098d8; }
.design h1 { color: #0b3536; }

/* Mobile styles */
@media only screen and (max-width : 600px) {
    h1 { font-size: 3em; font-weight: normal; text-align: center; }    
} 

/* Tablet devices */
@media only screen and (max-width : 992px) {
    h1 { font-size: 3em; font-weight: normal; margin: 10vh 2em 0 2em; text-align: center; }
} 

/* Desktop devices */
@media only screen and (min-width : 992px) {
    h1 { font-size: 4em; font-weight: normal; margin: 40vh 2em 0 2em; text-align: center; }
} 